@model IEnumerable<Person>
@using System.Data;
@using System.Reflection;

@{
    ViewData["Title"] = "Home Page";
}
<div class="inputX">
    @using(@Html.BeginForm("Index","Home", FormMethod.Post, new {@id = "_frmSubmitId", role = "form"}))
    {
            <div>
                <input type="checkbox" id="chByName" value="1" checked onclick="chByNameClicked(this)"/>
                <label for="chByName">Search by Name or LastName </label>
            </div>
            <div>
                <input type="checkbox" id="chByPhoneNumber" value="1" onclick="chByPhoneClicked(this)"/>
                <label for="chByPhoneNumber">Search by Phone number </label>
            </div>
            <div>
                @Html.Label("Please insert a parameter to search!")
                @Html.TextBox("tb_Parameter")
                <input type="submit" value="Search" id="btnSearch" />
            </div>
    }
        
</div>
<table class="table_result">
    <thead>
        <tr>
            @{
                @if(@Model!=null)
                foreach(var pr in typeof(Person).GetProperties())
                {
                    <th><strong>@pr.Name</strong></th>
                }
            }

        </tr>
    </thead>
    <tbody>
        @if(Model!=null)
        @foreach(Person p in @Model.ToList())
        {
          <tr>
              <td>@p.FirstName</td>
              <td>@p.LastName</td>
              <td>@p.PhoneNumber</td>
              <td>@p.PhoneNumberType</td>
          </tr>
        }
    </tbody>
</table>
